# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Logs
*.log

# Screenshots & outputs
screenshots/
*.png
*.jpg
*.jpeg

# Videos
*.mp4
*.avi
*.mov

# Text files
*.txt

# Local test / experimental scripts
test_*.py
webcam_detect.py

# model weights 
*.pt
*.onnx
*.engine

